<article>
  <h1><a href="{{post.url}}">{{ post.data.title }}</a></h1>
  <p>
    <small>
      <time datetime="{{ post.data.date | machineDate }}">{{ post.data.date | readableDate }}</time> by {{ metadata.author.name }}
    </small>
  </p>

  {{ post.data.layoutContent | safe }}

  {% if post.data.tags %}
    <p>
    {% for tag in post.data.tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>